[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggchangepoint"]
	path = ggchangepoint
	url = https://github.com/pursuitofdatascience/ggchangepoint
	shallow = true
	registered = true
[submodule "ggDoubleHeat"]
	path = ggDoubleHeat
	url = https://github.com/pursuitofdatascience/ggdoubleheat
	shallow = true
	registered = true
[submodule "tidyEmoji"]
	path = tidyEmoji
	url = https://github.com/pursuitofdatascience/tidyemoji
	shallow = true
	registered = true
